<script>
    document.__DATA__ = {{{data}}}
    document.__PATH__ = {{{path}}}
</script>



<img src="{{staticPath}}img/logo.png" />

<img src="{{staticPath}}img/robert.png" />
<div>Hello {{name}}</div>

<div id="root-wine">{{app}}</div>

<script src="{{staticPath}}public/app-bundle.js"/>

