<script>
    document.__DATA__ = {{{data}}}
</script>
<img src="{{staticPath}}img/logo.png" />

<div>Hello {{name}}</div>

<div id="root-wine">{{app}}</div>

<script src="{{staticPath}}public/app-bundle.js"/>

